<div class="row">
<div class="medium-12 columns">
<p>
  <strong>
  <h4><%=link_to @project.name, @project %></h4>
  </strong>
  <p>
    
    <%= @project.creator %>
  </p>
</p>

</div>
  <div class="medium-8 columns">
    
    <p>
      
      <%= image_tag @project.project_image.full.url %>
    </p>
    <p>
      <strong>Deadline:</strong>
      <%= @project.deadline %>
    </p>
    <p>
      <strong>User:</strong>
      <%= link_to @project.user.try(:username), @project.user  %>
    </p>
  </div>
  <div class="medium-4 columns p-right-column">

   

    <p>
      <strong>Goal:</strong>
      <%= @project.goal %>
    </p>
    <% if logged_in? %> 
    <%= form_for @pledge do |f| %>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </div>

    <%= f.hidden_field :project_id %>
    <div class="actions"><%= f.submit "Pledge", class: "button"%></div>
    <% end %>
    <% else %>
    <p>You need to be logged in to make a pledge</p>
    <% end %>
    <% if @project.goal - @project.pledges.sum('amount') > 0 %>
    <p><%= @project.goal - @project.pledges.sum('amount') %> 
    Needed for this project to be successful.</p>
    <% end -%>

    <p><%= @project.pledges.sum('amount') %> 
   to<%= @project.goal %> Pledged.</p>
  </div>
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div class="medium-8 columns">
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  </div>
  <div class="medium-4 columns">
  <% @project.rewards.each do |reward| %>
  <ul>
    <strong>Rewards:</strong>
    <li><%= link_to reward.title %></li>

    <li>Pledge<%= reward.value %>or more </li>

    <li><strong>Quantity:</strong>Limited only<%= reward.quantity%>Avaible</li>

    <li><strong>Description:</strong><%= reward.description%></li>

    <li> <strong>Delivery:</strong><%= reward.estimated_delivery %></li>

  </ul>
  <% end %>



  <% if @project.user == current_user %>
  <div class="Add reward">
    <%= link_to "Add Rewad", new_reward_path %>
  </div>
  <% end -%>
  </div>
</div>
<div class="row">
<p>
  <strong>Tags:</strong>
  <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name %>
</p>



<!-- <p>
  
  <%= @project.rewards %>
</p>
-->





<% @project.comments.each do |comment| %>
<ul>
  <li><%= link_to comment.user.username, comment.user %> said:</li>

  <li><%= comment.comment %></li>
</ul>
<% end %>

<% if logged_in? %> 
<%= form_for @comment do |f| %>

<div class="field">
  <%= f.label :comment %><br>
  <%= f.text_field :comment %>
</div>

<%= f.hidden_field :project_id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="actions"><%= f.submit "Add Comment", class: "button"%></div>
<% end %>
<% else %>
<h2>You have to be logged in to leave a comment</h2>
<% end %>
<% if @user == current_user %> 
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<% end %>
</div>