<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<!-- <p>
  <strong>Image:</strong>
  <%= image_tag# @project.image %>
</p> -->
<p>
  <b>Image:</b>
  <%= image_tag @project.project_image.url %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @project.user.try(:username), @project.user  %>
</p>

<!-- <p>
  
  <%= @project.rewards %>
</p>
 -->
<% @project.rewards.each do |reward| %>
<ul>
<strong>Rewards:</strong>
  <li><%= link_to reward.title %></li>

  <li>Pledge<%= reward.value %>or more </li>

  <li><strong>Quantity:</strong>Limited only<%= reward.quantity%>Avaible</li>

  <li><strong>Description:</strong><%= reward.description%></li>

  <li> <strong>Delivery:</strong><%= reward.estimated_delivery %></li>

</ul>
<% end %>

<% if @project.goal - @project.pledges.sum('amount') > 0 %>
  <h2><%= @project.goal - @project.pledges.sum('amount') %> </h2>
  <h4>needed for this project to be successful.</h4>
<% end -%>

<h2><%= @project.pledges.sum('amount') %> on <%= @project.goal %> pledged</h2>
<h4>towards a goal of <%= @project.goal %>.</h4>
<% if @project.user == current_user %>
<div class="Add reward">
  <%= link_to "Add Rewad", new_reward_path %>
</div>
<% end -%>
<%= form_for @pledge do |f| %>
<div class="field">
  <%= f.label :amount %><br>
  <%= f.text_field :amount %>
</div>

<%= f.hidden_field :project_id %>
<div class="actions"><%= f.submit "Pledge"%></div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
