<header>
  <% if current_user %>
  <p>Hello, <%= current_user.username %></p>
  <%= link_to "logout", logout_path, method: :delete, data: {confirm: "are you sure?"} %>
  <% else %>
  <%= link_to "please login", login_path %>
  <% end %>

  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  <% end %>
  <nav>
    <ul>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Add User", new_user_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to " New Project", new_project_path %></li>
      <li><%= link_to "Reward", rewards_path %></li>
      <li><%= link_to " New Reward", new_reward_path %></li>
      

      <li><%= search_form_for @q, url: search_projects_path, html: { method: :post }  do |f| %>
          <%= f.label :name_cont %>
          <%= f.text_field :name_cont %>
          <%= f.submit %>
        <% end %></li>
    </ul>
 
  </nav>
</header>